<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />

    <application>
        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity
            android:name="it.hubagency.spatialscan.ScanningActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|uiMode" />
    </application>

</manifest>
